.layout-wrapper
  position fixed
  top 0
  left 0
  width 100%
  bottom 0
  .ant-menu-item
    font-size 16px
  .logo
    text-align center
    margin 10px 0
    height 40px
    line-height 50px
    &.collapsed
      padding 0 10px
      box-sizing border-box
    h1.collapsed
      border-radius 5px
      background-color #2b2b2b
      width 100%
      box-sizing border-box
      height 40px
    a
      color: #FFFFFF;
      text-decoration none
      display: block;
  .trigger
    margin-left 10px
    font-size 16px
  .user-wrapper
    float right
    margin-top 6px
    margin-right 25px
    &>div
      line-height 16px


